Repository Friends77/FRI-FRONT, pull requests merged in 2025-02, with the labels that each got.

#76 사이드바 하단부 구현
  src/apis/chat/index.ts
  src/apis/user/index.ts
  src/components/@common/ProfileImage/ProfileImage.styled.ts
  src/components/@common/ProfileImage/index.tsx
  src/components/@layout/SideBar/SideBar.styled.ts
  src/components/@layout/SideBar/SideBarChatList/index.tsx
  src/components/@layout/SideBar/SideBarChatListSkeleton/SideBarChatListSkeleton.styled.ts
  src/components/@layout/SideBar/SideBarChatListSkeleton/index.tsx
  src/components/@layout/SideBar/SideBarChatRoomItem/SideBarChatRoomItem.styled.ts
  src/components/@layout/SideBar/SideBarChatRoomItem/index.tsx
  src/components/@layout/SideBar/SideBarFriendItem/SideBarFriendItem.styled.ts
  src/components/@layout/SideBar/SideBarFriendItem/index.tsx
  src/components/@layout/SideBar/SideBarFriendList/index.tsx
  src/components/@layout/SideBar/SideBarHeader/SideBarHeader.styled.ts
  src/components/@layout/SideBar/SideBarHeader/index.tsx
  src/components/@layout/SideBar/SideBarListWrapper/SideBarListWrapper.styled.ts
  src/components/@layout/SideBar/SideBarListWrapper/index.tsx
  src/components/@layout/SideBar/SideBarProfile/SideBarProfile.styled.ts
  src/components/@layout/SideBar/SideBarProfile/index.tsx
  src/components/@layout/SideBar/SideBarSearchInput/SideBarSearchInput.styled.ts
  src/components/@layout/SideBar/SideBarSearchInput/index.tsx
  src/components/@layout/SideBar/SideBarWithoutAuth/SideBarWithoutAuth.styled.ts
  src/components/@layout/SideBar/SideBarWithoutAuth/index.tsx
  src/components/@layout/SideBar/index.tsx
  src/components/auth/Form/LoginForm/index.tsx
  src/constants/@queryKeys/index.ts
  src/hooks/@common/useDebounce.ts
  src/hooks/chat/useCreateChatRoom.ts
  src/hooks/chat/useGetMyChatList.ts
  src/hooks/user/useGetMyFriendList.ts
  src/pages/chat/ChatRoom/index.tsx
  src/pages/chat/chatList/index.tsx
  src/recoil/user/chatRoomList/atom.ts
  src/recoil/user/chatRoomList/index.ts
  src/recoil/user/profile/atom.ts
  src/routes/AppRouter.tsx
  src/types/.gitkeep
  src/types/chat/index.ts
  src/types/user/index.ts
  src/utils/formatter/queryParams/index.ts
  src/utils/formatter/time/index.tsx
Labels: ✨feature, 🎨style, 📫API

#78 홈페이지: 추천 채팅방 리스트 구현
  package-lock.json
  package.json
  src/apis/home/index.ts
  src/components/@common/SVG/Icon/ArrowLeft.tsx
  src/components/@common/SVG/Icon/ArrowRight.tsx
  src/components/@common/Tag/Tag.styled.ts
  src/components/@common/Tag/index.tsx
  src/components/home/ChatRoomCard/ChatRoomCard.styled.ts
  src/components/home/ChatRoomCard/index.tsx
  src/components/home/ChatRoomRow/ChatRoomRow.styled.ts
  src/components/home/ChatRoomRow/index.tsx
  src/components/home/HomeChatListByTag/index.tsx
  src/components/home/PageNavigator/PageNavigator.styled.ts
  src/components/home/PageNavigator/index.tsx
  src/constants/@queryKeys/index.ts
  src/hooks/home/useChatRoomsByTag.ts
  src/pages/home/home.styled.ts
  src/pages/home/index.tsx
  src/types/home/index.ts
Labels: ✨feature, 📫API

#84 마이 페이지 구현
  src/apis/@common/index.ts
  src/apis/user/index.ts
  src/components/@common/Dropdown/Dropdown.styled.ts
  src/components/@common/Dropdown/index.tsx
  src/components/@common/SVG/Icon/Close.tsx
  src/components/auth/Form/AdditionalInfoForm/AdditionalInfoForm.styled.ts
  src/components/auth/Form/AdditionalInfoForm/index.tsx
  src/components/auth/Form/BasicInfoForm/BasicInfoForm.styled.ts
  src/components/auth/Form/BasicInfoForm/index.tsx
  src/components/auth/ImagePicker/ImagePicker.styled.ts
  src/components/auth/ImagePicker/index.tsx
  src/components/auth/InputField/index.tsx
  src/constants/message/index.ts
  src/constants/month/index.ts
  src/hooks/@common/useImageUpload.ts
  src/pages/user/profile/ProfilePage.styled.ts
  src/pages/user/profile/index.tsx
  src/types/@common/index.ts
  src/types/user/index.ts
Labels: ✨feature, 📫API

#89 ESLint 설정 파일 수정
  eslint.config.js
Labels: ⚙️chore

#92 빌드 시 타입 체크
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Labels: ⚙️chore

#90 채팅방 만들기, 채팅방 친구 초대/요청
  src/apis/@common/index.ts
  src/apis/chat/index.ts
  src/apis/user/index.ts
  src/assets/images/defaultThumbnail.png
  src/components/@common/ImageViewer/ImageViewer.styled.ts
  src/components/@common/ImageViewer/index.tsx
  src/components/@common/Modal/ProfileDialog/ProfileDialog.styled.ts
  src/components/@common/Modal/ProfileDialog/index.tsx
  src/components/@common/SVG/Icon/AddFriend.tsx
  src/components/@common/SVG/Icon/ArrowForward.tsx
  src/components/@common/SVG/Icon/ArrowLeft.tsx
  src/components/@common/SVG/Icon/ArrowRight.tsx
  src/components/@common/SVG/Icon/Close.tsx
  src/components/@common/SVG/Icon/NextButton.tsx
  src/components/@common/SVG/Icon/PrevButton.tsx
  src/components/@common/Tag/Tag.styled.ts
  src/components/@common/Tag/index.tsx
  src/components/@layout/SideBar/SideBarChatList/index.tsx
  src/components/@layout/SideBar/SideBarHeader/SideBarHeader.styled.ts
  src/components/@layout/SideBar/SideBarHeader/index.tsx
  src/components/@layout/SideBar/SideBarSearchInput/index.tsx
  src/components/auth/ImagePicker/index.tsx
  src/components/chat/ChatInvitationDialog/ChatInvitationDialog.styled.ts
  src/components/chat/ChatInvitationDialog/index.tsx
  src/components/chat/ChatRoomInfoDrawer/ChatRoomInfoDrawer.styled.ts
  src/components/chat/ChatRoomInfoDrawer/index.tsx
  src/components/chat/MyMessage/MyMessage.styled.ts
  src/components/chat/MyMessage/index.tsx
  src/components/chat/OtherMessage/OtherMessage.styled.ts
  src/components/chat/OtherMessage/index.tsx
  src/components/home/PageNavigator/PageNavigator.styled.ts
  src/components/home/PageNavigator/index.tsx
  src/constants/@queryKeys/index.ts
  src/constants/message/index.ts
  src/constants/routes/index.ts
  src/hooks/@common/useGetProfile.ts
  src/hooks/chat/useCreateChatRoom.ts
  src/hooks/chat/useEnterChatRoom.ts
  src/hooks/chat/useExitChatRoom.ts
  src/hooks/chat/useGetFriendsToInvite.ts
  src/hooks/chat/useGetPreviousMessage.ts
  src/hooks/chat/useResetState.ts
  src/hooks/chat/useScrollHandler.ts
  src/hooks/chat/useSendChatInvite.ts
  src/hooks/user/useFriendRequest.ts
  src/pages/chat/ChatRoom/index.tsx
  src/pages/chat/chatList/index.tsx
  src/pages/chat/chatRoom/index.tsx
  src/pages/chat/createChatRoom/createChatRoom.styled.ts
  src/pages/chat/createChatRoom/index.tsx
  src/routes/AppRouter.tsx
  src/types/chat/index.ts
  src/types/user/index.ts
Labels: ✨feature, 🎨style

#87 친구 추천 UI 퍼블리싱 및 API 연동
  src/apis/@common/index.ts
  src/components/@common/Recommendations/User/RecommendedUsers/RecommendedUsers.styled.ts
  src/components/@common/Recommendations/User/RecommendedUsers/index.tsx
  src/components/@common/Recommendations/User/UserCard/UserCard.styled.ts
  src/components/@common/Recommendations/User/UserCard/index.tsx
  src/components/@common/SVG/Icon/PersonAdd.tsx
  src/components/@common/SVG/Icon/Restart.tsx
  src/constants/@queryKeys/index.ts
  src/hooks/@common/useGetRecommendedUsers.ts
  src/pages/home/home.styled.ts
  src/pages/home/index.tsx
Labels: ✨feature, 🎨style

#94 마이페이지 타입 에러 해결
  src/pages/user/profile/index.tsx
  src/types/@common/index.ts
  src/types/user/index.ts
Labels: 🐞bugfix

#98 홈페이지: 추천 유저 리스트 구현
  src/apis/home/index.ts
  src/components/home/ChatRoomRow/index.tsx
  src/components/home/FriendCard/FriendCard.styled.ts
  src/components/home/FriendCard/index.tsx
  src/components/home/FriendsGrid/FriendsGrid.styled.ts
  src/components/home/FriendsGrid/index.tsx
  src/components/home/HomeFriendListByTag/HomeFriendListByTag.styles.ts
  src/components/home/HomeFriendListByTag/index.tsx
  src/constants/@queryKeys/index.ts
  src/constants/home/index.ts
  src/hooks/home/useChatRoomsByTag.ts
  src/hooks/home/useFriendsByTag.ts
  src/pages/home/index.tsx
  src/types/home/index.ts
Labels: ✨feature, 🎨style

#103 홈페이지: 배너 구현
  src/assets/images/banner.png
  src/assets/images/profiles.png
  src/components/home/Banner/Banner.styled.ts
  src/components/home/Banner/index.tsx
  src/components/home/HomeFriendListByTag/HomeFriendListByTag.styles.ts
  src/pages/home/home.styled.ts
  src/pages/home/index.tsx
Labels: ✨feature, 🎨style

#109 홈 - 배너 콘텐츠 하드코딩 및 채팅방 입장 제한
  src/assets/images/chatRoomThumbnail.png
  src/components/home/Banner/index.tsx
  src/constants/message/index.ts
  src/pages/home/index.tsx
Labels: 🔨refactor
