Repository Friends77/FRI-FRONT, pull requests merged in 2025-01, with the labels that each got.

#47 build.yml 파일 생성
  .github/workflows/build.yml
Labels: ⚙️chore

#45 로그인, 비밀번호 찾기 페이지 디자인
  src/components/@common/Button/PrimaryButton/PrimaryButton.styled.ts
  src/components/@common/Button/PrimaryButton/index.tsx
  src/components/@common/Button/SecondaryButton/SecondaryButton.styled.ts
  src/components/@common/Button/SecondaryButton/index.tsx
  src/components/@common/SVG/Icon/Cancel.tsx
  src/components/auth/Form/AuthForm/index.tsx
  src/components/auth/Form/EmailVerificationForm/EmailVerificationForm.styled.ts
  src/components/auth/Form/EmailVerificationForm/index.tsx
  src/components/auth/Form/LoginForm/LoginForm.styled.ts
  src/components/auth/Form/LoginForm/index.tsx
  src/components/auth/Form/ProfileForm/index.tsx
  src/components/auth/Form/ResetPasswordForm/ResetPasswordForm.styled.ts
  src/components/auth/Form/ResetPasswordForm/index.tsx
  src/components/auth/Form/SocialLoginForm/SocialLoginForm.styled.ts
  src/components/auth/Input/Input.styled.ts
  src/components/auth/Input/index.tsx
  src/components/auth/Timer/Timer.styled.ts
  src/components/auth/Timer/index.tsx
  src/pages/auth/login/LoginPage.styled.ts
  src/pages/auth/login/index.tsx
  src/pages/auth/resetPassword/ResetPasswordPage.styled.ts
  src/pages/auth/resetPassword/index.tsx
  src/recoil/auth/resetPassword/atom.ts
  src/recoil/auth/resetPassword/index.ts
  src/styles/GlobalStyle.ts
  vite.config.ts
Labels: 🎨style

#50 공통 컴포넌트: Dropdown 생성
  package-lock.json
  package.json
  src/components/@common/Dropdown/Dropdown.styled.ts
  src/components/@common/Dropdown/index.tsx
  src/components/@common/SVG/Icon/ArrowDown.tsx
  src/components/@common/SVG/Icon/Close.tsx
Labels: ✨feature

#49 refresh 요청 분기 처리
  package-lock.json
  package.json
  src/App.tsx
  src/apis/auth/index.ts
  src/components/auth/AuthInterceptor/index.tsx
  src/components/auth/TokenRefresher/index.tsx
  src/hooks/auth/useLogin.ts
  src/hooks/auth/useLogout.ts
  src/hooks/auth/useRefresh.ts
  src/hooks/auth/useSocialLogin.ts
  src/main.tsx
  src/recoil/auth/accessToken/index.ts
  src/recoil/auth/accessToken/withIsLoggedIn.ts
  src/recoil/auth/isLoggedIn/atom.ts
  src/recoil/auth/isLoggedIn/index.ts
  src/types/auth/index.ts
  src/utils/cookie/index.ts
Labels: 📫API, 🔨refactor

#52 <InputField> 컴포넌트 디자인 수정
  src/components/auth/Form/AuthForm/index.tsx
  src/components/auth/Form/EmailVerificationForm/EmailVerificationForm.styled.ts
  src/components/auth/Form/EmailVerificationForm/index.tsx
  src/components/auth/Form/LoginForm/index.tsx
  src/components/auth/Form/ResetPasswordForm/index.tsx
  src/components/auth/InputField/InputField.styled.ts
  src/components/auth/InputField/index.tsx
Labels: 🎨style

#59 로그인, 비밀번호 변경 페이지의 폰트를 수정했습니다.
  src/components/@common/Button/PrimaryButton/PrimaryButton.styled.ts
  src/components/auth/Form/EmailVerificationForm/EmailVerificationForm.styled.ts
  src/components/auth/InputField/InputField.styled.ts
  src/pages/auth/login/LoginPage.styled.ts
  src/pages/auth/resetPassword/ResetPasswordPage.styled.ts
Labels: 🎨style

#56 프로필 작성 폼 구현
  src/App.css
  src/App.tsx
  src/apis/auth/index.ts
  src/assets/images/camera.png
  src/assets/images/defaultProfile.png
  src/components/@common/Checkbox/Checkbox.styled.ts
  src/components/@common/Dropdown/Dropdown.styled.ts
  src/components/@common/Dropdown/index.tsx
  src/components/@common/Radio/Radio.styled.ts
  src/components/auth/Form/AdditionalInfoForm/AdditionalInfoForm.styled.ts
  src/components/auth/Form/AdditionalInfoForm/index.tsx
  src/components/auth/Form/BasicInfoForm/BasicInfoForm.styled.ts
  src/components/auth/Form/BasicInfoForm/index.tsx
  src/components/auth/Form/ProfileForm/index.tsx
  src/components/auth/ImagePicker/ImagePicker.styled.ts
  src/components/auth/ImagePicker/index.tsx
  src/constants/gender/index.ts
  src/constants/mbti/index.ts
  src/constants/message/index.ts
  src/constants/year/index.ts
  src/pages/auth/signUp/index.tsx
  src/recoil/auth/signUp/atom.ts
  src/types/auth/index.ts
Labels: ✨feature

#54 회원가입 폼 디자인 적용
  src/components/auth/Form/AuthForm/AuthForm.styled.ts
  src/components/auth/Form/AuthForm/index.tsx
Labels: ✨feature

#63 네브바 구현
  package-lock.json
  package.json
  src/components/@common/SVG/Icon/Assignment.tsx
  src/components/@common/SVG/Icon/AssignmentFill.tsx
  src/components/@common/SVG/Icon/Collapse.tsx
  src/components/@common/SVG/Icon/Expand.tsx
  src/components/@common/SVG/Icon/Home.tsx
  src/components/@common/SVG/Icon/HomeFill.tsx
  src/components/@common/SVG/Icon/Logo.tsx
  src/components/@common/SVG/Icon/Profile.tsx
  src/components/@common/SVG/Icon/ProfileFill.tsx
  src/components/@common/SVG/Icon/Search.tsx
  src/components/@common/SVG/Icon/SearchFill.tsx
  src/components/@common/SVG/Icon/Setting.tsx
  src/components/@common/SVG/Icon/SettingFill.tsx
  src/components/@layout/NavBar/NavBar.styled.ts
  src/components/@layout/NavBar/index.tsx
  src/components/@layout/SideBar/SideBar.styled.ts
  src/components/@layout/SideBar/index.tsx
  src/components/@layout/WithNavBarLayout/WithNavBarLayout.styled.ts
  src/components/@layout/WithNavBarLayout/index.tsx
  src/constants/routes/index.ts
  src/pages/board/board/index.tsx
  src/pages/home/index.tsx
  src/pages/search/index.tsx
  src/pages/user/profile/index.tsx
  src/pages/user/setting/index.tsx
  src/recoil/layout/isSideBarOpen/atom.ts
  src/recoil/layout/isSideBarOpen/index.ts
  src/routes/AppRouter.tsx
  src/styles/GlobalStyle.ts
Labels: ✨feature, 🎨style

#67 사이드바 상단부(프로필, 검색) 구현
  package-lock.json
  package.json
  src/apis/user/index.ts
  src/components/@common/SVG/Icon/Notification.tsx
  src/components/@layout/SideBar/SideBar.styled.ts
  src/components/@layout/SideBar/SideBarHeader/SideBarHeader.styled.ts
  src/components/@layout/SideBar/SideBarHeader/index.tsx
  src/components/@layout/SideBar/SideBarProfile/index.tsx
  src/components/@layout/SideBar/SideBarProfileSkeleton/SideBarProfileSkeleton.styled.ts
  src/components/@layout/SideBar/SideBarProfileSkeleton/index.tsx
  src/components/@layout/SideBar/SideBarSearchInput/SideBarSearchInput.styled.ts
  src/components/@layout/SideBar/SideBarSearchInput/index.tsx
  src/components/@layout/SideBar/index.tsx
  src/components/@layout/WithNavBarLayout/index.tsx
  src/constants/@queryKeys/index.ts
  src/hooks/auth/useLogout.ts
  src/hooks/user/useProfile.ts
  src/main.tsx
  src/recoil/user/profile/atom.ts
  src/recoil/user/profile/index.ts
  src/styles/animation.ts
  src/types/user/index.ts
  src/utils/token/index.ts
Labels: ✨feature, 🎨style, 📫API

#69 README.md 작성
  README.md
  public/logo.png
Labels: 📝docs

#66 이메일 회원가입 구현
  src/apis/auth/index.ts
  src/components/auth/Form/AdditionalInfoForm/AdditionalInfoForm.styled.ts
  src/components/auth/Form/AdditionalInfoForm/index.tsx
  src/components/auth/Form/AuthForm/index.tsx
  src/components/auth/Form/BasicInfoForm/index.tsx
  src/components/auth/ImagePicker/ImagePicker.styled.ts
  src/constants/message/index.ts
  src/constants/pattern/index.ts
  src/hooks/auth/useCheckAvailability.ts
  src/hooks/auth/useFetchCategory.ts
  src/hooks/auth/useGeoLocation.ts
  src/pages/auth/signUp/index.tsx
  src/recoil/auth/userLocation/atom.ts
  src/recoil/auth/userLocation/index.ts
  src/types/auth/index.ts
Labels: ✨feature, 📫API

#74 토큰 재발급 무한 루프 버그 해결
  src/components/auth/AuthInterceptor/index.tsx
  src/components/auth/TokenRefresher/index.tsx
  src/constants/message/index.ts
  src/hooks/auth/useRefresh.ts
Labels: 🐞bugfix, 📫API

#71 채팅 웹소켓 연결, 메세지 전송/수신 개발
  src/apis/chat/index.ts
  src/components/chat/MessageInput/index.tsx
  src/components/chat/MessageList/index.tsx
  src/constants/@queryKeys/index.ts
  src/constants/routes/index.ts
  src/hooks/chat/useCreateChatRoom.ts
  src/hooks/chat/useGetMyChatList.ts
  src/hooks/chat/useGetPreviousMessage.ts
  src/hooks/chat/useGetSecondaryToken.ts
  src/hooks/chat/useMessageSubscription.ts
  src/hooks/chat/useWebSocket.ts
  src/pages/chat/chatList/index.tsx
  src/pages/chat/chatRoom/index.tsx
  src/recoil/chat/messageSubscriber/atom.ts
  src/recoil/chat/messageSubscriber/index.ts
  src/recoil/chat/sendMessageHandler/atom.ts
  src/recoil/chat/sendMessageHandler/index.ts
  src/recoil/chat/socketConnected/atom.ts
  src/recoil/chat/socketConnected/index.ts
  src/routes/AppRouter.tsx
  src/types/@common/index.ts
  src/types/chat/index.ts
  src/types/user/index.ts
Labels: ✨feature
